.chat-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    margin-top: 20px;
   
   
  }
  
  .input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .input-field {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  .quote-field {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    outline: none;
  }
  
  .send-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #8da9cf;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .send-button:hover {
    background-color: #3e8e41;
  }
  