.user-card{
    background-color: rgb(255, 255, 255);
    width: 300px;
    margin-left: 10px;
    box-shadow: 1px 1px 1px 1px rgb(155, 149, 149);
   
}
.user-card:hover{
    box-shadow: 1px 1px 1px 1px rgb(129, 124, 124);

}